# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>
3) Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing Entire Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Importing Methods Only <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Using the 'as' Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Creating a Module <br>
4) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Build a Shopping Cart <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Create Your Own Module <br>

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [1]:
# key : value pairs
# keys should be unique
# keys can use numbers or string

d = {} #Empty dictionary
d2 = dict()

d3 = {
    "Dave":"255 Main St",
    "Sean":"522 1st Ave",
    0 : "This is a value for zero"
}
d3

{'Dave': '255 Main St', 'Sean': '522 1st Ave', 0: 'This is a value for zero'}

In [2]:
d = {} #Empty dictionary

print(type(d))
d = dict() #slower by a lot 

d1 = {
    "Key":"Value",
    "name":"Steve",
    0:"integer"
}

print(d1)
d = dict(key="Value", name="Steve")

<class 'dict'>
{'Key': 'Value', 'name': 'Steve', 0: 'integer'}

##### Accessing Values

In [3]:
d1 = {
    "Key":"Value",
    "name":"Steve",
    "age":55,
    0:"integer"
}
#dicitonary[key] this gives you the value
d1["name"]

'Steve'

In [4]:
d3["Dave"]

'255 Main St'

In [5]:
type(d3[0])

str

In [6]:
d3.get("Dave")

'255 Main St'

In [7]:
d3["Kevin"]

KeyError: 'Kevin'

In [ ]:
print(d3.get("Kevin"))

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be '2018 Chevrolet Silverado'</p>

In [8]:
() #para
[] #brackets
{} #braces
% #sometimes i call it grapes
! # bang
#! #shebang

UsageError: Line magic function `%` not found.

In [9]:
#use the dict below
#Output: I have a 2018 Chevrolet Silverado

truck = {
    'year': 2018,
    'make': 'Cheverolet',
    'model': 'Sivlerado',
}

print(f"I have a {truck['year']} {truck['make']} {truck['model']}")

I have a 2018 Cheverolet Sivlerado

In [10]:
# .get()
truck = {
    'year': 2018,
    'make': 'Cheverolet',
    'model': 'Sivlerado',
}

print(truck['year'])   #faster
print(truck.get('year'))

# truck['color']
print(truck.get('color'))    #using .get to see if it exists if you get backnone its not there if you get back value its there
print(truck.get('color','red')) #doesnt add color to dict but gives value to color as red

2018
2018
None
red

##### Adding New Pairs

In [11]:
truck = {
    'year': 2018,
    'make': 'Cheverolet',
    'model': 'Sivlerado',
}

truck['year'] = 2020    #this switched the value of year
truck

{'year': 2020, 'make': 'Cheverolet', 'model': 'Sivlerado'}

In [12]:
truck['color'] = "blue"   #THIS ADDS TO DICTIONARY
truck

{'year': 2020, 'make': 'Cheverolet', 'model': 'Sivlerado', 'color': 'blue'}

In [ ]:
truck.update({'milage':100000}) #giving dictionary to update so it knows what to do
print(truck)

In [13]:
truck.update(wheels = 4)
print(truck)

{'year': 2020, 'make': 'Cheverolet', 'model': 'Sivlerado', 'color': 'blue', 'wheels': 4}

In [14]:
d3['Bob']="222 W Ontario St"
d3

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Bob': '222 W Ontario St'}

In [15]:
d3.update({"Jesus":"45 awesome st."})
d3

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Bob': '222 W Ontario St',
 'Jesus': '45 awesome st.'}

In [16]:
d3.update(joker="123 fake St.")
d3

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Bob': '222 W Ontario St',
 'Jesus': '45 awesome st.',
 'joker': '123 fake St.'}

##### Modifying Values

In [17]:
truck = {
    'year': 2018,
    'make': 'Cheverolet',
    'model': 'Sivlerado',
}

truck['make']="Chevy"
print(truck)

{'year': 2018, 'make': 'Chevy', 'model': 'Sivlerado'}

In [18]:
truck.update(make="ford")
print(truck)

{'year': 2018, 'make': 'ford', 'model': 'Sivlerado'}

In [19]:
#dict[existing key] = new value
d3["Bob"]= "12345 noname rd"
d3

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Bob': '12345 noname rd',
 'Jesus': '45 awesome st.',
 'joker': '123 fake St.'}

In [20]:
d3.update(Bob="5454 loins ter.")
d3

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Bob': '5454 loins ter.',
 'Jesus': '45 awesome st.',
 'joker': '123 fake St.'}

##### Removing Key, Value Pairs

In [21]:
#del dict[key]

del truck['year']   #this deletes value year
print(truck)

{'make': 'ford', 'model': 'Sivlerado'}

In [22]:
# del dict[key]
del d3["Bob"]
d3

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Jesus': '45 awesome st.',
 'joker': '123 fake St.'}

##### Looping a Dictionary

In [23]:
x, y =(1,2)  #first spot =x seocnd= y
print(x)
print(y)

1
2

In [24]:
# .items()
truck.items()   #loops through WHOLE DICT

for tup in truck.items():
    print("key is",tup[0], "and the value is",tup[1])

key is make and the value is ford
key is model and the value is Sivlerado

In [25]:
# .items()
truck.items()   #loops through WHOLE DICT   #this way is better than ex above

for key, value in truck.items():
    print("key is",key, "and the value is",value)

key is make and the value is ford
key is model and the value is Sivlerado

In [26]:
#LOOPING ONLY KEYS

truck = {
    'year': 2018,
    'make': 'Cheverolet',
    'model': 'Sivlerado',
}

# .keys()
for key in truck:
    print("the key is", key)
    print("the value is",truck[key])

the key is year
the value is 2018
the key is make
the value is Cheverolet
the key is model
the value is Sivlerado

In [27]:
for key in truck.keys():   #looping over keys
    print(key)

year
make
model

In [28]:
#.values()
truck.values()

for value in truck.values():
    print(value)

2018
Cheverolet
Sivlerado

In [29]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)

for k, v in d3.items():
    print(k,v)
d3

Dave 255 Main St
Sean 522 1st Ave
0 This is a value for zero
Jesus 45 awesome st.
joker 123 fake St.

{'Dave': '255 Main St',
 'Sean': '522 1st Ave',
 0: 'This is a value for zero',
 'Jesus': '45 awesome st.',
 'joker': '123 fake St.'}

##### Looping Only Keys

In [31]:
# .keys()
for key in d3.keys():
    print(key)

Dave
Sean
0
Jesus
joker

##### Looping Only Values

In [32]:
for value in d3.values():
    print(value)

255 Main St
522 1st Ave
This is a value for zero
45 awesome st.
123 fake St.

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within formatted string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [33]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

# loop  over dicitonary

for key, value in people.items():
    #create and print sentence "[key] has [value] eyes" for each item
    print(f"{key} has {value} eyes")

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

In [34]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

# loop  over dicitonary  #DIFFERENT WAY TO WORD IT SAME AS ABOVE

def eye_colors(d):
    for name, eye_color in people.items():
        #create and print sentence "[key] has [value] eyes" for each item
        print(f"{key} has {value} eyes")

eye_colors(people)

Ted has purple eyes
Ted has purple eyes
Ted has purple eyes
Ted has purple eyes
Ted has purple eyes

##### sorted()

In [35]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
print(sorted(people.items()))
print(sorted(people.values()))
print(sorted(people.keys()))

[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]
['blue', 'blue', 'brown', 'brown', 'purple']
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']

In [36]:
print(
 sorted(people) #keys sorted 
)

print(
    sorted(people.keys()) #keys sorted
)

print(
    sorted(people.values())
)

print(
    sorted(people.items()) #sorts by the key
)

print(people)
people = dict(sorted(people.items()))   #this dictionary is now sorterd
print(people)

['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']
[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]
{'Max': 'blue', 'Lilly': 'brown', 'Barney': 'blue', 'Larney': 'brown', 'Ted': 'purple'}
{'Barney': 'blue', 'Larney': 'brown', 'Lilly': 'brown', 'Max': 'blue', 'Ted': 'purple'}

##### List with Dictionaries

In [37]:
names = ['dave', 'randy','greg', {'random_guy': 'robert', 'another_guy': 'travis'}]
print(names[3])    #values of postion 3 is entire dictionary
print(type(names[3]))
print(names[3]["random_guy"])

{'random_guy': 'robert', 'another_guy': 'travis'}
<class 'dict'>
robert

In [38]:
names = ['dave', 'randy','greg', {'random_guy': 'robert', 'another_guy': 'travis'}]
inner_dict = names[3]
print(inner_dict)
inner_dict["random_guy"]

{'random_guy': 'robert', 'another_guy': 'travis'}

'robert'

In [39]:
names = ['dave', 'randy','greg', {'random_guy': 'robert', 'another_guy': 'travis'}]
my_dict=names[3]
my_dict["random_guy"]
print(names[3]["random_guy"])

robert

In [40]:
all_items=[
    {"name":"Item A", "price":2.99},
    {"name":"Item B", "price":13.99},
    {"name":"Item C", "price":19.99},
    
]

for item in all_items:
    print(item['name'], item['price'])

Item A 2.99
Item B 13.99
Item C 19.99

##### Dictionaries with Lists

In [41]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes

d5 ={
    "students":["mark", "Natasha", "Toan"],   #list inside a dictionary  #THIS WILL  BE ON ASSIGNMENT!!!!!
    "age":[22,55,6]
}

print(d5["students"][1])

d5["age"][0]

Natasha

22

In [42]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
d5={
    "groupA":[1,2,3,4],
    "groupB":["Chris","Benny","Leo"]
}

d5["groupA"][2]
d5["groupB"].append("Sydney")
d5

{'groupA': [1, 2, 3, 4], 'groupB': ['Chris', 'Benny', 'Leo', 'Sydney']}

##### Dictionaries with Dictionaries

In [43]:
# to get values, must traverse through keys
d6={
    "random":1234,
    "ice_cream":{
        "choc":2.99,
        "van":3.99,
        "Oreo":{"large":6.99, "small":[2.99,4.99]}
    }
}

print(d6["ice_cream"]["choc"])    #name of dict + [key] to get icecream price
print(d6["ice_cream"]["Oreo"]['large'])
print(d6["ice_cream"]["Oreo"]['small'][1])

2.99
6.99
4.99

## Using Python's Hashing Function

In [ ]:
# hash(var)
help(hash)

In [44]:
a = "Bo"
b = "Bob"
c = "Bo"
d = "Bob"

print(hash(a))    #a and c are =, b and d hash value is =
print(hash(b))
print(hash(c))
print(hash(d))

d7={"Bob":123, "nate":987}

if "Bob" in d7:
    print("yes")
else:
    print("no")

-1509175618105471723
1491828547679329128
-1509175618105471723
1491828547679329128
yes

In [45]:
# hash(var)
a = "Bo"
b = "Bob"
c= "Bo"
print(hash(a))
print(hash(b))
print(hash(c))

d7={'Bob':123,
    "Nate":987}
if "Bob" in d7:
    print("yes")
else:
    print("no")
    
for key in d5.keys():
    print(hash(key and y))

-1509175618105471723
1491828547679329128
-1509175618105471723
yes
2
2

In [ ]:
# While loops
my_items=[]
while True:
    
        response = input("What do you want to do add or remove or quit? ")
   
        if response == 'quit' :
            break      #loop is over

        elif response == 'add':
            item=input("What do you want to add? ").strip()
            my_items.append(item)


        elif response == 'remove':
            item=input("what do you want to remove? ").strip()
            my_items.remove(item)
        print("your items: ",my_items)

## Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, and continues to do so until they choose to 'quit'. Once they quit, the program should print all names and addresses. <br>
<p>
<b>Proper steps:</b><br>
step 1: write a function that takes in information and stores it in a dictionary<br>
step 2: define an empty dictionary to work with<br>
step 3: create our loop, which asks the user for information until they quit<br>
step 4: ask for the information, and store it into variables<br>
step 5: check if the user types quit<br>
step 5a: print out all information<br>
step 5b: break out of the loop<br>
step 6: if they didn't quit, add the information to the dictionary<br>
step 7: invoke the function by calling it
</p>

In [ ]:
from IPython.display import clear_output

for i in range(4):
    clear_output()
    print(i)

In [ ]:
from IPython.display import clear_output #This module will clear all  pre-existing outouf form you program

def address_book_function(): #declared function
    address_book={} #made empty dict
    while True:    #made a while loop that will go until it breaks
        clear_output()
        name = input("What is your name? ").strip()  #strip prevents extra spaces
        if name.lower() == 'quit' :
            print(address_book)
            break
        address = input("What  is your  address? ").strip()
        if address.lower()=='quit':
            print(address_book)
            break
        address_book[name]=address #return address book
    return address_book #func will be over

address_book_function()

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [ ]:
my_set = set()
print(type(my_set))

# this is not a set
my_set2 = {}   #noooo
print(type(my_set2))

my_set3={"Austin","Tara","tana","Hillary","Hillary"}
print(my_set3)    #takes out dupes

In [ ]:
# set() or {}
# no order {3, 2, 1} outputs as {1, 2, 3}
my_set1 = set()


# Not This
my_set2 = {} 

my_set3 = {"Kevin", "Vicky","Josh"}

print(type(my_set1))
print(type(my_set2))
print(type(my_set3))

In [ ]:
s={3,2,1}
s

##### .add()

In [ ]:
# set.add()
my_set3.add("Leo")
my_set3

##### .remove()

In [ ]:
# removes by value
# set.remove()
# nums.remove(56)
my_set3.remove("tana")
my_set3

##### .union()

In [ ]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
# DONT USE empty {} in a set 
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set3= set1 | set2
print(set3)
set4=set1.union(set2)
print(set4)

In [ ]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}

unioned_set=set1.union(set2)
print(unioned_set)

unioned_set=set2.union(set1)
print(unioned_set)

u_set=set2 | set1
print(u_set)

##### .intersection()

In [ ]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
set1 = {1,2,3,4,5,6}
set2 = {1,2,3,4}
set1.intersection(set2)

In [ ]:
set1 & set2

##### .difference()

In [ ]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

set1 = {1,2,3,4,5,6}
set2 = {1,2,3,4}
set2.difference(set1) #nothing
set1.difference(set2) # 5 and 6

##### .clear()

In [ ]:
# Empties the whole set
# set.clear()
set1.clear()
set1

In [ ]:
# Empties the whole set
# set.clear()
set1.clear()
print(set1)

In [ ]:
my_set3 ={"Austin","Jesus","Mike","Mike"}

    "Austin" in my_set3
    #fast

    #below is SLOW
    my_list = ["Austin","Jesus","Mike","Mike"]
    "Austin" in my_list

    # in background
    for name in my_list:
        if name =="Austin":
            return True

In [ ]:
set([1,1,1,1,3,3,3,4,5])

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [ ]:
set2

In [ ]:
# frozenset([])
s3 = {1,2,3,4,5,6}
s3=frozenset(s3)

In [ ]:
# frozen sets are immutable!
s3.add("Joe") 
s3

## Modules

##### Importing Entire Modules

In [ ]:
from math import * # Gotten everything.. probably not wise
pi

In [ ]:
from math import pi, floor, ceil as c  #dont use comma at end  #BEST WAY TO DO --putting as replaces ceil with c
pi
floor(3.4)
c(3.4)

In [ ]:
# import or from 'xxx' import *
# import math
import math

print(math.pi)
print(math.floor(math.pi))

In [ ]:
import math

print(math.pi)
pi
print(math.floor(5/2))  #floor will round down
print(math.ceil(math.)) #floor will round up

In [ ]:
import pandas as pd
import matplotlib as plt

In [ ]:
# new text file my_mod.py from file screen

##### Importing Methods Only

In [ ]:
# from 'xxx' import 'xxx'
# from math import floor
from math import floor, pi
print(pi)
print(floor(pi))

##### Using the 'as' Keyword

In [ ]:
# from 'xxx' import 'xxx' as 'xxx' or import 'xxx' as 'xxx'
# from math import floor as f
from math import pi as pi_from_math

print(pi_from_math)
print(pi) #should not work

##### Creating a Module

In [ ]:
import my_mod
my_mod.say_hello("McCall")
my_mod.say_goodbye("McCall")

In [ ]:
from my_mod import say_hello, say_goodbye , area  #from is first import is second
say_hello("Steve")
say_goodbye("Steve")

# Exercises

### 1) Build a Shopping Cart <br>
<p><b>You can use either lists or dictionaries. The program should have the following capabilities:</b><br><br>
1) Takes in input <br>
2) Stores user input into a dictionary or list <br>
3) The User can add or delete items <br>
4) The User can see current shopping list <br>
5) The program Loops until user 'quits' <br>
6) Upon quiting the program, print out all items in the user's list <br>
</p>

In [ ]:
from IPython.display import clear_output

# Ask the user four bits of input: Do you want to : Show/Add/Delete or Quit?

In [ ]:
def shopping_book_function(): #declared function
    shopping_cart={} #made empty dict
    while True:    #made a while loop that will go until it breaks
        clear_output()
        name = input("What is your name? ").strip()  #strip prevents extra spaces
        if name.lower() == 'quit' :
            print(address_book)
            break
        address = input("What  is your  address? ").strip()
        if address.lower()=='quit':
            print(address_book)
            break
        address_book[name]=address #return address book
    return address_book #func will be over

address_book_function()

### 2) Create a Module in VS Code and Import It into jupyter notebook <br>
<p><b>Module should have the following capabilities:</b><br><br>
1) Has a function to calculate the square footage of a house <br>
    <b>Reminder of Formula: Length X Width == Area<br>
        <hr>
2) Has a function to calculate the circumference of a circle <br><br>
<b>Program in Jupyter Notebook should take in user input and use imported functions to calculate a circle's circumference or a houses square footage</b>
</p>

In [ ]:
import my_mod
length = int(input("What is the length of the House in feet? "))
width = int(input("What is the width of the House in feet? "))
result = length * width


print("You entered dimensions of " + str(length) + str(" feet by ") + str(width) +str(" feet."))
print("The area is " + str(result) + " square feet.")

In [ ]:

import my_mod
import math
r = int(input(' Please Enter the radius of a circle: '))
area = math.pi * r * r
circumference = 2 * math.pi * r
print(" Area Of a Circle = %.2f" %area)
print(" Circumference Of a Circle = %.2f" %circumference)